asn1crypto==0.24.0
certifi==2022.12.7
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
flake8==3.5.0
future==0.16.0
idna==2.7
mccabe==0.6.1
pycodestyle==2.3.1
pycparser==2.19
pyflakes==1.6.0
python-telegram-bot==11.1.0
requests==2.20.0
six==1.11.0
urllib3==1.24.2
